/* FileUpload.css */
.file-upload {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.file-upload-label {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background-color: #444654;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.file-upload-icon {
  color: #e0e0e0;
  font-size: 18px;
}

.file-upload-label:hover .file-upload-icon {
  color: #10a37f;
}

.file-upload-input {
  display: none; /* Hide the default file input */
}